<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fj.pagehelper.mapper.PmsMapper" >

    <!-- 返回类型resultType：如果是List的，则是需要写List封装的数据的类型-->
    <select id="queryPageInfo" resultType="com.fj.pagehelper.entity.Pms" parameterType="com.fj.pagehelper.vo.QueryParam">
        select name,des from pms where 1=1
        <if test="des !=null and des !='' ">
            and des like concat('%',#{des},'%')
        </if>
    </select>

    <!--<select id="queryPageInfo1" resultType="com.fj.pagehelper.entity.Pms">
        select * from pms
        <trim prefix="where" suffixOverrides="and/or">
            <if test="id != null">
                id = #{id} and
            </if>
            <if test="name != null and name != ''">
                name = #{name} or
            </if>
            <if test="des != null and des != ''">
                des = #{des}
            </if>
        </trim>
    </select>-->

</mapper>