<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fj.test.gmall.mapper.UmsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fj.test.gmall.entity.Ums">
        <id column="id" property="id" />
        <result column="pms_id" property="pmsId" />
        <result column="brand" property="brand" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pms_id, brand
    </sql>

</mapper>
